.as2-wrap{
    width: 1080px;
    height: 1920px;
    font-family: 'Tenor Sans', sans-serif;
}

.as2-wrap__page{
    height: 85%;
    overflow-y: hidden;
    overflow-x: hidden;
    outline: 1px black solid;
}

.as2-wrap__navigation{
    height: 15%;
    outline: 1px black solid;
}