.as2-navigation{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.as2-navigation__column{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.as2-navigation__button{
    height: 100%;
    cursor: pointer;
    outline: 1px black solid;
}

.as2-navigation__button_small{
    height: 50%;
}

.as2-navigation__buttonImg{
    height: 80%;
}

.as2-button{
    position: absolute;
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.as2-button__pageNavigation{
    position: absolute;
    top: 800px;
}

.as2-button__pageNavigation_next{
    left: 880px;
}

.as2-button__pageNavigation_prev{
    left: 50px;
}